<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <h3>My Cart</h3>
    <ul class="items">
      <li *ngFor="let item of items"
          [class.selected]="item === selectedItem"
          (click)="onSelect(item)">
        <span class="badge">{{item.itemQuantity}}</span>
        <span>{{item.itemName}}</span>
        <span>{{item.itemRestaurantName}}</span>
        <button class="delete"
                (click)="delete(item); $event.stopPropagation()">x</button>
      </li>
    </ul>
  <button (click)="checkOut()">CheckOut</button>
</body>
</html>
