<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div *ngIf="restaurant">
    <h2>{{restaurant.name}} Menu!</h2>
    <ul class="items">
      <li *ngFor="let item of items"
          [class.selected]="item === selectedItem"
          (click)="onSelect(item)">
        <span class="badge">{{item.price}}</span>
        <span>{{item.name}}</span>
      </li>
    </ul>
    <button (click)="goBack()">Back</button>
    <button (click)="add()">Add</button>
  </div>
</body>
</html>
